version: "3"

services:
  app:
    build: .
    container_name: todo-app
    ports:
      - "3000:3000"
    restart: always
    environment:
      - MYSQL_HOST=mysql
      - MYSQL_USER=root
      - MYSQL_PASSWORD=secret
      - MYSQL_DB=todos
    depends_on:
      - mysql

  mysql:
    image: mysql:8.0
    container_name: todo-mysql
    ports:
      - "3306:3306"
    restart: always
    environment:
      - MYSQL_ROOT_PASSWORD=secret
      - MYSQL_DATABASE=todos
    volumes:
      - mysql-data:/var/lib/mysql

volumes:
  mysql-data: